{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta name="veiwport" content="with=device-width,initial-scale=1.0">
        <title>MECH 3RD YEAR</title>
        <link rel="stylesheet" href="{% static 'css/cse_css.css' %}">
    </head>
    <body>
        <img class="bg" src="/static/images/mech_background.jpeg" alt="">

       
        <section class="campus">

           
            
             <div class="row">
                <div class="campus-col">
                    <img src="/static/images/mech_a.jpeg">

                    <a href="/mech-a:feedback">

                        <div class="layer">
                            <h3>CLICK</h3>
                        </div>
                    </a>
                </div>
                <div class="campus-col">
                    <img src="/static/images/mech_b.jpeg"> 
                    
                    
                    <a href="/mech-a:feedback">

                        <div class="layer">
                            <h3> CLICK </h3>
                        </div>
                    </a>
                    
                </div>


                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                
              </div>

                <marquee scrollamount="13" behavior = 'alternate'> <h2 style="color: white;"><b>  choose ur one...!!!!</b></h2> </marquee> 
              
            </section>

            

            


    </body>
</html>