{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta name="veiwport" content="with=device-width,initial-scale=1.0">
        <title>CSIT 4TH YEAR</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/cse_css.css' %}">
    </head>
    <body>
        <img class="bg"src= "/static/images/csit_background1.jpeg" alt="">

       
        <section class="campus">

           
            
             <div class="row">
                <div>
                    
                </div>
                <div class="campus-col">
                    <img src="/static/images/csit_no11.jpeg">

                    <a href="/csit:feedback">

                        <div class="layer">
                            <h3>CLICK</h3>
                        </div>
                    </a>
                </div>
              
                <div>
                    
                </div>
                </div>
             
              <marquee scrollamount="13" behavior = 'alternate'> <h2 style="color: white;"><b>  choose ur one...!!!!</b></h2> </marquee> 
            </section> 

            

            


    </body>
</html>