
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tnq</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/tnq2.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
          <h1 class="title"> THANK YOU ..,</h1>
          <p class="subtitle">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thanks a bunch for filling that out. It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you...<br><h1 style="text-align: end;">🧑🏻‍🎓👨🏻‍🎓👩🏻‍🎓</h1><br><hr> </p>
         
        </div>
        <div class="blob"></div>
      </div>
</body>
</html>