{% load static %}
<!DOCTYPE html>


<html>
    <head>
        <meta name="veiwport" content="with=device-width,initial-scale=1.0">
        <title>CSE 3RD YEAR</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/cse_css.css' %}">
       
    </head>
    <body>
         <img class="bg" src="/static/images/cse_background.png" alt="">

     
        <section class="campus">
                

             <div class="row">
                <div class="campus-col">
                    <img src="/static/images/cse_a.jpeg">

                    <a href="/cse-a:feedback">

                        <div class="layer">
                            <h3>CLICK</h3>
                        </div>
                    </a>
                </div>
                <div class="campus-col">
                    <img src="/static/images/cse_b.jpeg"> 
                    
                    
                    <a href="/cse-b:feedback">

                        <div class="layer">
                            <h3> CLICK </h3>
                        </div>
                    </a>
                    
                </div>
                <div class="campus-col">
                   
                    <img src="static/images/cse_c.jpeg">
                   
                    <a href="/cse-c:feedback">

                        <div class="layer">
                           <h3>CLICK</h3>
                        </div>
                    </a>
                </div>
              </div>

               <marquee scrollamount="13" behavior = 'alternate'> <h2 style="color: white;"><b>  choose ur one...!!!!</b></h2> </marquee> 
              
            </section>

            

            


    </body>
</html>